body{
    background-color: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
    padding: 0px;
    margin: 0px;
}
* {
    margin: 0px;
}


#hero {
    background-color: #2f8d46;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}
#hero-text{
    font-weight: 700;
    font-size: 1.2rem;
}
#search {
    height: 1.2rem;
    padding: 5px;
}

#nav {
    background-color: #3cb371;
    color: white;
}
#nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#nav-list li {
    margin: 10px;
}


#welcome {
    background-color: #e7f7ef;
    padding: 3rem;
    text-align: center;
}
#welcome h1 {
    color: #2f8d46;
    margin: 10px;
}

#container {
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.box{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    width: 250px;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.box h3 {
    color: #2f8d46;
}

footer {
    background-color: #2f8d46;
    color: white;
    width: 100%;
    text-align: center;
    align-content: center;
    height: 3rem;
}